<% include partials/header %>
<body>
  <style>
  .row {
      margin-right: -15px;
      margin-left: -15px;
    }
  /*.container-fluid{
    background: #1c92d2;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #f2fcfe, #1c92d2);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #f2fcfe, #1c92d2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  }*/
  </style>
<div class="container style">
    <div class="row">
        <div class="col-md-12">
            <div class="thumbnail">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-4">
                            <img class="img-responsive" src="<%= movie.Poster %>" height=300 width=300>
                        </div>
                        <div class="col-lg-8">
                            <h5>
                                <dl class="dl-horizontal">
                                    <dt>Title :</dt>
                                    <dd><%= movie.Title %></dd>
                                    <dt>Released On :</dt>
                                    <dd><%= movie.Released %></dd><br>
                                    <dt>Genre :</dt>
                                    <dd><%= movie.Genre %></dd>
                                    <dt>Director :</dt>
                                    <dd><%= movie.Director %></dd><br>
                                    <dt>Plot :</dt>
                                    <dd><%= movie.Plot %></dd><br>
                                    <dt>Actors :</dt>
                                    <dd><%= movie.Actors %></dd>
                                    <dt>Awards :</dt>
                                    <dd><%= movie.Awards %></dd><br>
                                    <dt>Language :</dt>
                                    <dd><%= movie.Language %></dd>
                                    <dt>Website :</dt>
                                    <dd><%= movie.Website %></dd><br>
                                    <dt>Ratings :</dt>
                                        <% movie.Ratings.forEach(function(movie){ %>
                                            <dd style="color:blue;" ><%= movie["Source"] %> - <%= movie["Value"] %></dd>
                                        <% }) %>
                                </dl>
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="text-align:center;">
  <form action="/addreview/<%= movie["imdbID"] %>" method="POST">
      <div><textarea style="font-size:18px;border-radius: 10px;"rows="5" cols="80"  name="review" placeholder="Type you review here.."></textarea></div>
      <button class="btn btn-md btn-success">Submit</button>
  </form>
</div>
</body>
<% include partials/footer %>
