<% include  partials/header.ejs %>
<style>
.button{
  margin-left: 5px;
}
.col-lg-3 {
    width: 20%;
}
</style>
<div class='container'>
    <header class='jumbotron'>
        <div class='container'>
                <div class='row'>
                    <div class="col-lg-8">
                        <h1 style="font-size:50px;"> <%= user.fname %> <%= user.lname %> </h1>
                        <br>
                        <% if (currentuser.id != user._id ) { %>
                            <% if (currentuser.followed.indexOf(user._id)>-1){ %>
                            <form action="/unfollow/<%= currentuser._id %>/<%= user._id %>" method="POST">
                            <p><button class='btn btn-warning btn-md'>UnFollow <i class=" button glyphicon glyphicon-remove"> </i></button></p>
                            </form>
                            <p class="recommend"><a href="/search"><button class='btn btn-success btn-md' >Recommend Movie<i class="recommend button glyphicon glyphicon-film"> </i></button></a></p>
                            <% } else { %>
                            <form action="/follow/<%= currentuser._id %>/<%= user._id %>" method="POST">
                            <p><button class='btn btn-success btn-md'>Follow <i class="glyphicon glyphicon-ok"> </i></button></p>
                            </form>
                            <% } %>
                        <% } %>
                        <form action="/watchlist/<%= user._id %>" method="GET">
                                <p> <button class='btn btn-primary btn-md'>Watchlist <i class="button glyphicon glyphicon-menu-hamburger"> </i></button> </p>
                        </form>
                    </div>
                    <div class="col-lg-4">
                        <div class="text-right">
                        <dl class="dl-horizontal">
                            <h4>
                            <dt>Country:</dt>
                            <dd><%= user.country %></dd>
                            <dt>Age:</dt>
                            <dd><%= user.age %></dd>
                            <dt>Gender :</dt>
                            <dd><%= user.Gender %></dd><br>
                            <dt>Favorite Movie :</dt>
                            <dd><%= user.fmovie %></dd><br>
                            <dt>Favorite Actor :</dt>
                            <dd><%= user.factor %></dd><br>
                            <dt>Interests :</dt>
                            <dd><%= user.interest %></dd><br>
                            </h4>
                        </dl>
                        </div>
                    </div>
                </div>
            </div>
    </header>

    <div class='row text-center' style="display:flex; flex-wrap:wrap;">
        <% movies.forEach(function(movie){ %>
            <div class='col-lg-3 col-sm-6'>
                <div class='thumbnail'>
                    <img src="<%= movie.data.Poster %> " height=300 width=300>
                    <div class='caption'>
                        <h4><%= movie.data.Title %></h4>
                    </div>
                    <p>
                        <a href="/review/<%= movie._id %>">More info </a>
                    </p>
                </div>
            </div>
        <% }) %>
    </div>
</div>
<% include partials/footer.ejs %>
